{% extends "gstbillingapp/base.html" %}

{% load static %}



{% block content %}

<h2>Edit Product</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Model No:</th>
				<td class="form-input-td">{{product_form.model_no}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Product Name:</th>
				<td class="form-input-td">{{product_form.product_name}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">HSN / SAC</th>
				<td class="form-input-td">{{product_form.product_hsn}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Discount %:</th>
				<td class="form-input-td">{{product_form.product_discount}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">GST %:</th>
				<td class="form-input-td">{{product_form.product_gst_percentage}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">MRP:</th>
				<td class="form-input-td">{{product_form.product_rate_with_gst}}</td>
			</tr>
		</tbody>
	</table>

	<input type="submit" class="btn btn-primary float-right" value="Save Changes">
</form>
{% endblock %}
