{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block content %}

	{% if messages %}
		{% for message in messages %}
			<div class="alert {% if message.tags == 'success' %} alert-success
				{% elif message.tags == 'error' %} alert-danger {% else %} alert-primary {% endif %}">
			<p>{{ message.tags }}</p>
		{% endfor %}
	</div>
	{% endif %}

	<div class="row">
		<div class="col">
			<h2>Add Purchase</h2>
		</div>
		<div class="col text-right">
		</div>
	</div>

	<table class="table table-bordered" id="invoice-table">
		<form method="post">
			{% csrf_token %}
			<tr>
				<th>Date</th>
				<th><input type="datetime-local" value="{%now "Y-m-d H:i:s"%}" name="date"></th>
			</tr>

			<tr>
				<th>Type</th>
				<th>
					<select id="ptype" name="ptype" onchange="toggleRow()">
						<option value="purchase">Purchase</option>
						<option value="paid">Paid</option>
					</select>
				</th>
			</tr>

			<tr id="purchase-category-row">
				<th>Category</th>
				<th>
					<select id="purchase-category" name="purchase_category" onchange="toggleTextbox()">
						{% for cat in category %}
							<option value="{{ cat }}">{{ cat }}</option>
						{% endfor %}
						<option value="Other">Other</option>
					</select>
					<input id="textbox" class="custom-textbox" type="text" name="other_category" 
					style="display: none;" placeholder="Enter your option">
				</th>
			</tr>

			<tr>
				<th>Amount</th>
				<th><input type="number" name="amount" required></th>
			</tr>
			
			<tr id="paidRow" style="display: none;">
				<th>Paid Type</th>
				<th>
					<select id="addon1" name="addon1">
						<option value="cheque">Cheque</option>
						<option value="rtgs">RTGS</option>
						<option value="neft">NEFT</option>
					</select>
				</th>
			</tr>

			<tr>
				<th>Ref No</th>
				<th><input type="text"  name="addon2" placeholder="Invoice / Cheque No"></th>
			</tr>
			<tr class="text-right">
				<th colspan="2">
					<button type="submit" class="btn btn-primary btn-curve"><i class="fas fa-save"></i></button>
					<a href="{% url 'purchases' %}" class="btn btn-danger btn-curve"><i class="fas fa-cancel"></i></a>
				</th>
			</tr>
		</form>
	</table>

	<script>
		function toggleRow() {
		var ptype = document.getElementById('ptype').value;
		var purchaseRow = document.getElementById('paidRow');
		var purchasCategoryRow = document.getElementById('purchase-category-row');
		
		// Show the row if 'purchase' is selected, otherwise hide it
		if (ptype === 'paid') {
			purchaseRow.style.display = '';
			purchasCategoryRow.style.display = 'none';
		} else {
			purchaseRow.style.display = 'none';
			purchasCategoryRow.style.display = '';
		}
		}
	</script>


	<script>
        // Check the initial value of the dropdown on page load
        window.onload = function() {
            toggleTextbox(); // Call the function to show/hide the textbox based on the selected value
        };

        function toggleTextbox() {
            const dropdown = document.getElementById('purchase-category');
            const textbox = document.getElementById('textbox');

            // If the value is "Other", show the textbox
            if (dropdown.value === 'Other' || dropdown.value === '') {
                textbox.style.display = 'inline';
            } else {
                textbox.style.display = 'none';
            }
        }

        // Event listener for change in the dropdown value
        document.getElementById('purchase-category').addEventListener('change', toggleTextbox);
    </script>
{% endblock %}
