{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Edit Asset</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Name:</th>
				<td class="form-input-td">{{asset_form.name}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Category:</th>
				<td>
					<select id="categorySelect" style="width: 200px;" onchange="toggleCategoryTextbox()">
						{% for category in categories %}
							<option value="{{ category }}" {% if asset_form.category.value == category %}selected{% endif %}>{{ category }}</option>
						{% endfor %}
						<option value="">Other (Please specify)</option>
					</select>
				</td>
			</tr>
			<tr id="customCategoryRow" style="display: none;">
				<th scope="row" class="text-right">Custom Category:</th>
				<td>
					<input type="text" id="customCategory" style="width: 200px;" placeholder="Enter custom category" />
				</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Value (₹):</th>
				<td class="form-input-td">{{asset_form.value}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Date:</th>
				<th>
					<input type="date" name="date" value="{{ asset_form.date.value|date:'Y-m-d' }}" required>
				</th>
			</tr>
			<tr>
				<th scope="row" class="text-right">Description:</th>
				<td class="form-input-td">{{asset_form.description}}</td>
			</tr>
		</tbody>
	</table>

	<div class="form-group text-right">
		<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
</form>
		<a class="btn btn-danger" href="{% url 'assets' %}"><i class="fas fa-cancel"></i></a>
	</div>

<script>
function toggleCategoryTextbox() {
    var categorySelect = document.getElementById('categorySelect');
    var customCategoryRow = document.getElementById('customCategoryRow');
    var customCategoryInput = document.getElementById('customCategory');
    
    // Show or hide the custom category input field based on selection
    if (categorySelect.value === "") {
        customCategoryRow.style.display = 'table-row';
		customCategoryInput.required = true;
		customCategoryInput.setAttribute('name', 'category');
		categorySelect.removeAttribute('name');
    } else {
        customCategoryRow.style.display = 'none';
        // Ensure that the custom category input is cleared if it's hidden
        customCategoryInput.value = '';
		customCategoryInput.required = false;
		categorySelect.setAttribute('name', 'category');
		customCategoryInput.removeAttribute('name');
    }
}

// Trigger toggleCategoryTextbox on page load to ensure it works with the current selection
document.addEventListener('DOMContentLoaded', function() {
    toggleCategoryTextbox();
});
</script>
{% endblock %}
