{% extends "base.html" %}

{% load static %}



{% block content %}

<h2>Forgot Password</h2>

<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Username:</th>
				<td class="form-input-td"><input type="text" name="customer_userid" value="{{customer_userid}}"></td>
			</tr>
			<tr>
				<th scope="row" class="text-center" colspan="2">
					<input type="submit" class="btn btn-primary float-center" value="Reset Password">
				</th>
			</tr>
		</tbody>
	</table>

</form>

{% endblock %}
