{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <!-- Profile Card -->
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Business Profile</h4>
					<div>
						<a href="{% url 'user_profile_edit' %}" class="btn btn-light btn-sm"><b><i class="fas fa-pen-to-square"></i></b></a>
                    	<a href="{% url 'logout_view' %}" class="btn btn-light btn-sm"><b><i class="fas fa-right-from-bracket"></i></b></a>
                    	<a href="{% url 'download_sqlite' %}" class="btn btn-light btn-sm"><b><i class="fas fa-download"></i></b></a>
					</div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-right" style="min-width: 150px;">Name:</th>
                                <td>{{ user_profile.business_title }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Address:</th>
                                <td>{% if user_profile.business_address %}{{ user_profile.business_address }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Email:</th>
                                <td>{% if user_profile.business_email %}{{ user_profile.business_email }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Phone:</th>
                                <td>{% if user_profile.business_phone %}{{ user_profile.business_phone }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">GST:</th>
                                <td>{% if user_profile.business_gst %}{{ user_profile.business_gst }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Brand:</th>
                                <td>{% if user_profile.business_brand %}{{ user_profile.business_brand }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">UserID:</th>
                                <td style="color: green;">{{ user_profile.business_uid }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Latitude:</th>
                                <td>{% if user_profile.business_latitude %}{{ user_profile.business_latitude }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Longitude:</th>
                                <td>{% if user_profile.business_longitude %}{{ user_profile.business_longitude }}{% else %}<span style="color:red;">N/A</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-right">Bank Detail:</th>
                                <td>
                                    {% if user_profile.bankdetails %}
                                        {{ user_profile.bankdetails }}
                                    {% else %}
                                        <span style="color:red;">N/A</span>
                                    {% endif %}
                                    <!-- UPI QR Code -->
                                    {% if user_profile.bankdetails.upi_id %}
                                        <br>
                                        <div id="upi_qr" style="margin-top: 10px;" data-upi_id="upi://pay?pa={{ user_profile.bankdetails.upi_id }}&am=100"></div>
                                        <strong>UPI ID:</strong> {{ user_profile.bankdetails.upi_id }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if user_profile.business_latitude and user_profile.business_longitude %}
                            <tr>
                                <th colspan="2">
                                    <div id="map" style="height: 250px;width: 100%;"></div>
                                </th>
                            </tr>
                            {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block includejs %}
<script>
    var latitude = {{ user_profile.business_latitude }};
    var longitude = {{ user_profile.business_longitude }};
    var name = "{{ user_profile.business_title }}";

    var map = L.map('map').setView([latitude, longitude], 20);

    var satelliteLayer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: '&copy; <a href="https://www.esri.com/en-us/arcgis/about-arcgis/overview">Esri</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    satelliteLayer.addTo(map);

    L.marker([latitude, longitude]).addTo(map)
        .bindTooltip(name, {permanent: true, offset: [0, -15], direction: 'top'})
        .openPopup();
</script>
<script>
    const upiQR = document.getElementById("upi_qr").getAttribute("data-upi_id");
    const qr = new QRCodeStyling({
        width: 100,
        height: 100,
        data: upiQR,
        dotsOptions: { color: "#000", type: "rounded" }
    });

    qr.append(document.getElementById("upi_qr"));
</script>
{% endblock %}
