{% extends "base.html" %}

{% load static %}



{% block content %}

<h2>Edit Profile</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Business Name:</th>
				<td class="form-input-td customer_search_area">{{user_profile_form.business_title}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Address:</th>
				<td class="form-input-td">
					<textarea name="customer_address" rows="2" cols="35">{{user_profile_form.business_address.value|default:''}}</textarea>
				</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Email:</th>
				<td class="form-input-td">{{user_profile_form.business_email}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Phone:</th>
				<td class="form-input-td">{{user_profile_form.business_phone}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">GST:</th>
				<td class="form-input-td" pattern="([A-Za-z0-9]{15})|(^$)">{{user_profile_form.business_gst}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Brand:</th>
				<td class="form-input-td">{{user_profile_form.business_brand}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">UserID:</th>
				<td class="form-input-td" style="color: green;">{{business_uid}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Latitude:</th>
				<td class="form-input-td">{{user_profile_form.business_latitude}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Longitude:</th>
				<td class="form-input-td">{{user_profile_form.business_longitude}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Bank Details:</th>
				<td class="form-input-td">{{user_profile_form.bankdetails}}</td>
			</tr>
		</tbody>
	</table>

	<div class="text-right">
		<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
		<a href="{% url 'user_profile' %}" class="btn btn-danger"><i class="fas fa-cancel"></i></a>
	</div>
</form>

{% endblock %}
