{% extends "base.html" %}

{% load static %}



{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Business Name:</th>
				<td class="form-input-td customer_search_area">{{user_profile_form.business_title}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Address:</th>
				<td class="form-input-td">
					<textarea name="business_address" rows="2" cols="35">{{user_profile_form.business_address.value|default:''}}</textarea>
				</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Email:</th>
				<td class="form-input-td">{{user_profile_form.business_email}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Phone:</th>
				<td class="form-input-td">{{user_profile_form.business_phone}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">GST:</th>
				<td class="form-input-td" pattern="([A-Za-z0-9]{15})|(^$)">{{user_profile_form.business_gst}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Brand:</th>
				<td class="form-input-td">{{user_profile_form.business_brand}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">UserID:</th>
				<td class="form-input-td" style="color: green;">{{business_uid}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Latitude:</th>
				<td class="form-input-td">{{user_profile_form.business_latitude}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Longitude:</th>
				<td class="form-input-td">{{user_profile_form.business_longitude}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Bank Details:</th>
				<td class="form-input-td">{{user_profile_form.bankdetails}}</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="map" style="height: 350px; width: 100%; border: 1px solid #ccc;"></div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="text-right">
		<button type="button" id="toggleEditBtn" class="btn btn-success"><i class="fas fa-location-dot"></i></button>
		<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
		<a href="{% url 'user_profile' %}" class="btn btn-danger"><i class="fas fa-cancel"></i></a>
	</div>
</form>

{% endblock %}
{% block includejs %}
<script>
    var latitude = document.querySelector("input[name='business_latitude']").value;
    if (!latitude) latitude = 12.602429;
    else latitude = parseFloat(latitude);

    var longitude = document.querySelector("input[name='business_longitude']").value;
    if (!longitude) longitude = 78.595726;
    else longitude = parseFloat(longitude);

    var name = document.querySelector("input[name='business_title']").value;

    var map = L.map('map').setView([latitude, longitude], 20);

    // SATELLITE LAYER
    var satelliteLayer = L.tileLayer(
        "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
        { attribution: '&copy; Esri & contributors' }
    ).addTo(map);

    // LABELS LAYER
    var labelsLayer = L.tileLayer(
        "https://server.arcgisonline.com/ArcGIS/rest/services/Reference/World_Boundaries_and_Places/MapServer/tile/{z}/{y}/{x}",
        { attribution: '&copy; Esri' }
    ).addTo(map);

    // MARKER
    var marker = L.marker([latitude, longitude])
        .addTo(map)
        .bindTooltip(name, { permanent: true, offset: [0, -15], direction: 'top' });

    // --- EDIT MODE ---
    let editMode = false;

    const toggleBtn = document.getElementById("toggleEditBtn");
    toggleBtn.addEventListener("click", function () {
        editMode = !editMode;
        toggleBtn.className = editMode ? "btn btn-warning" : "btn btn-success";
    });

    // CLICK ONLY WORKS IN EDIT MODE
    map.on('click', function (e) {
        if (!editMode) return;

        const lat = e.latlng.lat.toFixed(6);
        const lon = e.latlng.lng.toFixed(6);

        document.querySelector("input[name='business_latitude']").value = lat;
        document.querySelector("input[name='business_longitude']").value = lon;

        marker.setLatLng([lat, lon]);
        marker.bindTooltip(lat + ", " + lon, { permanent: true }).openTooltip();
    });
</script>

{% endblock %}