{% extends "base.html" %}

{% load static %}



{% block content %}

<h2>Edit Product</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Model No:</th>
				<td class="form-input-td">{{product_form.model_no}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Product Name:</th>
				<td class="form-input-td">{{product_form.product_name}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">HSN / SAC</th>
				<td class="form-input-td">{{product_form.product_hsn}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Discount %:</th>
				<td class="form-input-td">{{product_form.product_discount}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">GST %:</th>
				<td class="form-input-td">{{product_form.product_gst_percentage}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">MRP:</th>
				<td class="form-input-td">{{product_form.product_rate_with_gst}}</td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Stock Alert level:</th>
				<td class="form-input-td">
					<input type="number" name="stock_alert_level" value="{{ stock_alert_level }}" />
				</td>
			</tr>
		</tbody>
	</table>

	<div class="form-group text-right">
		<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
</form>
		<a class="btn btn-danger" href="{% url 'products' %}"><i class="fas fa-cancel"></i></a>
		{% if id %}
			<a class="btn btn-warning" href="#" onclick="popup_inventory()"><i class="fas fa-file-alt"></i></a>
		{% endif %}
	</div>

<script>
function popup_inventory() {
	fetch("/inventory/{{ id }}?nav=1")
    .then(r => r.text())
    .then(html => {
      Swal.fire({
        html: `<div style="height:80vh; overflow-y:auto;width:90%;margin:auto;border:2px solid #ccc;">${html}</div>`,
        width: '80%',
        showCloseButton: true,
        showConfirmButton: false,
      });
    });
}
</script>
{% endblock %}
