{% extends "mobile_v1/base.html" %}
{% load static %}

{% block title %}Customer Profile{% endblock %}

{% block content %}

<div class="row mt-3">
    <div class="col-12">

        {% if customer %}
        <div class="card shadow-sm mb-3">

            <!-- Header -->
            <div class="card-header bg-primary text-white d-flex align-items-center">
                <i class="fas fa-user-circle fa-lg mr-2"></i>
                <h6 class="mb-0">{{ customer.customer_name }}</h6>
            </div>

            <!-- Body -->
            <div class="card-body p-3">

                <!-- Address -->
                <div class="row mb-2 align-items-center">
                    <div class="col-5 font-weight-bold">
                        <i class="fas fa-map-marker-alt"></i> Address
                    </div>
                    <div class="col-7 text-break">
                        {% if customer.customer_address %}
                            <span>{{ customer.customer_address|linebreaksbr }}</span>
                        {% else %}
                            <span class="text-danger">N/A</span>
                        {% endif %}
                    </div>
                </div>

                <!-- GST Number -->
                <div class="row mb-2 align-items-center">
                    <div class="col-5 font-weight-bold">
                        <i class="fas fa-id-card"></i> GST No
                    </div>
                    <div class="col-7">
                        {% if customer.customer_gst %}
                            <span>{{ customer.customer_gst }}</span>
                        {% else %}
                            <span class="text-danger">N/A</span>
                        {% endif %}
                    </div>
                </div>

                <!-- Phone -->
                <div class="row mb-2 align-items-center">
                    <div class="col-5 font-weight-bold">
                        <i class="fas fa-phone-alt"></i> Phone
                    </div>
                    <div class="col-7">
                        {% if customer.customer_phone %}
                            <span>{{ customer.customer_phone }}</span>
                        {% else %}
                            <span class="text-danger">N/A</span>
                        {% endif %}
                    </div>
                </div>

                <!-- Email -->
                <div class="row mb-2 align-items-center">
                    <div class="col-5 font-weight-bold">
                        <i class="fas fa-envelope"></i> Email
                    </div>
                    <div class="col-7">
                        {% if customer.customer_email %}
                            <span>{{ customer.customer_email }}</span>
                        {% else %}
                            <span class="text-danger">N/A</span>
                        {% endif %}
                    </div>
                </div>

                {% if customer.customer_latitude and customer.customer_longitude %}
                <div class="row mb-1 align-items-center">
                    <div id="map" style="height: 250px;width: 100%; margin: 5px;border-radius: 1%;"></div>
                </div>

                <!-- Distance Time -->
                <div class="row mb-2 align-items-center">
                    <div class="col-5 font-weight-bold">
                        <i class="fas fa-location-arrow"></i> Distance(KM)
                    </div>
                    <div class="col-7">
                            <span id="distance-time"></span>
                    </div>
                </div>

                {% block includejs %}
                    <script>
                        var latitude = {{ customer.customer_latitude }};
                        var longitude = {{ customer.customer_longitude }};
                        var name = "{{ customer.customer_name }}";

                        // Head Office
                        var hqLat = {{ users.business_latitude }};
                        var hqLng = {{ users.business_longitude }};
                        var hqName = "{{ users.business_title }}";

                        var map = L.map('map').setView([latitude, longitude], 13);

                        var satelliteLayer = L.tileLayer(
                            'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                            { attribution: '&copy; Esri & OpenStreetMap contributors' }
                        ).addTo(map);

                        // Customer Marker (RED)
                        L.marker([latitude, longitude])
                            .addTo(map);

                        // HQ Marker (GREEN)
                        L.marker([hqLat, hqLng])
                            .addTo(map)
                            .bindTooltip(hqName, { permanent: true, offset: [0, -40], direction: 'top' });

                        // Routing
                        L.Routing.control({
                            waypoints: [
                                L.latLng(latitude, longitude),
                                L.latLng(hqLat, hqLng)
                            ],
                            routeWhileDragging: false,
                            show: false,
                            addWaypoints: false,
                            lineOptions: {
                                styles: [{ color: 'blue', weight: 5 }]
                            }
                        }).on('routesfound', function (e) {
                            var distance = e.routes[0].summary.totalDistance / 1000;
                            var time = e.routes[0].summary.totalTime / 60;
                            document.getElementById('distance-time').innerText =
                            distance.toFixed(2) + " KM, " + time.toFixed(0) + " Minutes";
                            // alert(
                            //     "Distance: " + distance.toFixed(2) + " KM\n" +
                            //     "Estimated Time: " + time.toFixed(0) + " Minutes"
                            // );
                        }).addTo(map);
                    </script>
                    {% endblock %}
                {% endif %}

            </div>

            <!-- Footer -->
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-building text-secondary"></i> 
                    <span class="mr-2 font-weight-bold">{{ users.business_brand|default:"-"|upper }}</span>
                </div>
                <div class="text-end">
                    <i class="fas fa-user-tag text-secondary"></i>
                    <span class="mr-2 text-muted font-weight-bold">
                        {{ customer.customer_userid|default:"-"|upper }}
                    </span>
                </div>
            </div>

        </div>
        {% else %}
        <div class="alert alert-warning">
            No customer data found.
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}