input.form-control {
	border-radius: 0;
	padding: 0.1em;
	font-size: 0.8em;
}

/*Invoice Page *******************************************/

#invoice-form input{
	font-size: 0.9em;
	color: black;
}

#invoice-form-items-table {
	font-size: 0.8em;
}

input.form-control[type=number] {
	-moz-appearance: none;
	-webkit-appearance: textfield;
}

.table-bordered td.form-input-td {
	padding: 0;
	vertical-align: middle;
}

.table-bordered td, .table-bordered th {
	padding: 0.25em;
}

.table-bordered tbody td, .table-bordered tbody th, .table-bordered thead th, .table-bordered thead td {
	background: #f9f9f9;
}

.two-col-form td, .two-col-form th { 
	width: 25%;
}


#customer_search_bar, #product_search_bar {
	display: none;
	background: #212529;
	width: 20em;
	height: 85%;
	position: absolute;
	right: 0%;
	bottom : 0%;
	box-shadow: 0em 0em 1em #111;
	padding: 0.2em;
	overflow: scroll;
}

.customer-search-result, .product-search-result {
	padding: 0.2em;
	margin: 0.4em;
	border-bottom: 0.16em solid #b9b9b9;
	cursor: pointer;
	background-color:#f9f9f9;
}

.customer-search-result:hover, .product-search-result:hover {
	background: #b9b9b9;
}


[readonly] {
   caret-color: transparent;
   transition: none;
   border: none;
}

[readonly]:focus {
   caret-color: transparent;
   box-shadow: none;
   border: none;
   
}
.table-invoice td, .table-invoice th {
	border: solid #dee2e6 1px;
}

.table-invoice td, .table-invoice th {
    padding: .25rem;
}

#table-invoice-total-row {
	border-top: 2px solid #939393;
	background: white;
}

#invoice-grand-total-table td {
	font-weight: bold;
	padding: .25rem;
}


#invoice-signature-text-row {
    border-top : 2px solid;
}

#invoice-signature-row {
	border-bottom: 2px solid;
	height: 4em;
}




/*Customer and Product Page ************************/

#add_customer_btn, #add_product_btn {
	float: right;
}

/* Inventory Page */
#inventory-table tr :hover {
	cursor: pointer;
}

#book-table tr :hover {
	cursor: pointer;
}


#invoice_profile_data {
	white-space: pre-line;
}

/* Print invoice page ************************************/

@page
{
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 5mm 5mm 5mm 5mm;  
}


/* Login Page ******************************************/
#login-card {
	margin-top: 5em;
	text-align: center;
}

/* Additional CSS ******************************************/
.btn-curve{
	border-radius: 8px;
	font-weight: bold;
}
#center{
	text-align: center;
}

/* Toggle Switch CSS ************************************/
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}
.switch input {display:none;}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 24px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:checked + .slider:before {
	transform: translateX(16px);
}
/* Custom CSS for Customer Mobile Toggle Buttons */
/* Violet Color Scheme */
.bg-violet {
	background-color: darkviolet;
}
/* Orange Color Scheme */
.bg-orange {
	background-color: darkorange;
}
.btn-orange {
	background-color: darkorange;
}
.btn-orange-on {
	background-color: orange;
	color: white;
}
.btn-orange-off {
	background-color: darkorange;
}
.btn-orange-off:hover {
	color: white;
}
/* Vertical Align Middle Class */
.v-align-middle {
    vertical-align: middle;
}
