{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-sm">
</div>
<div class="col-sm">
	<div class="card" id="login-card">
		<h5 class="card-header">GST SYNC</h5>
		<div class="card-body">
			<h5 class="card-title">Login and start billing now!</h5>
		</div>
		<form method="POST">
			{% csrf_token %}
			<table class="table">
				<tbody class="two-col-form">
					<tr>
						<th scope="row" class="text-right">Username:</th>
						<td class="form-input-td">{{auth_form.username}}</td>
					</tr>`
					<tr>
						<th scope="row" class="text-right">Password:</th>
						<td class="form-input-td">{{auth_form.password}}</td>
					</tr>
				</tbody>
			</table>

			<div class="text-right" style="margin-bottom: 5px;margin-right: 5px;">
				<button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i></button>
				{% if admin %}
					<a href="#" class="btn btn-danger" onclick="signUp()"><i class="fas fa-user-plus"></i></a>
				{% endif %}
			</div>
		</form>
	</div>
</div>
<div class="col-sm">
</div>
</div>

<script>
	{% if admin %}
		function signUp() {
			Swal.fire({
				title: 'Redirecting to Sign Up page',
				text: 'You will be redirected to the Sign Up page.',
				icon: 'info',
				confirmButtonText: 'OK'
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = "{% url 'signup_view' %}";
				}
			});
		};
	{% endif %}
</script>
{% endblock %}
