{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Update Inventory</h2>
<hr>

<div class="row">
    <div class="col">
        <h5>Model No: <b>{{ inventory.product }}</b></h5>
        <h5>Product: <b>{{ inventory.product.product_name }}</b></h5>
        <h4>Current Stock: <b>
            {% if inventory.current_stock > 0 %}
                <span class="text-success">{{ inventory.current_stock }}</span>
            {% else %}
                <span class="text-danger">{{ inventory.current_stock }}</span>
            {% endif %}
        </b></h4>
        <h5>Design: <b>{{ inventory.product.product_hsn }}</b></h5>
    </div>

    <div class="col text-right">
        <form method="POST" class="d-inline">
            {% csrf_token %}
            <table class="table">
                <tbody class="two-col-form">
                    <tr>
                        <th scope="row" class="text-right">Date & Time:</th>
                        <td class="form-input-td">{{ form.date }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Change in stock:</th>
                        <td class="form-input-td">{{ form.change }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Change Type:</th>
                        <td class="form-input-td">{{ form.change_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Associated Invoice Number:</th>
                        <td class="form-input-td"><input type="text" name="invoice_no"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Description:</th>
                        <td class="form-input-td">{{ form.description }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Buttons side by side -->
            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" title="Save Logs">
                    <i class="fas fa-save"></i>
                </button>&nbsp;
                <a href="{% url 'inventory_logs' inventory.id %}" class="btn btn-warning" title="Back To Inventory Logs">
                    <i class="fas fa-reply"></i>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
