{% extends "base.html" %}

{% load static %}



{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<h2>Inventory Details</h2>
<hr>

<div class="row">
	<div class="col">
		<h5>Model No: <b>{{inventory.product}}</b></h5>
		<h5>Product: <b>{{inventory.product.product_name}}</b></h5>
		<h5>HSN: <b>{{inventory.product.product_hsn}}</b></h5>
		<h4>Current Stock: <b>{{inventory.current_stock}}</b></h4>
	</div>
	<div class="col">
		<a href="{% url 'inventory' %}" id="add_customer_btn"><button type="button" class="btn btn-danger">Back	</button></a>
		<a href="{% url 'inventory_logs_add' inventory.id %}" id="add_customer_btn"><button type="button" class="btn btn-primary">Add Update</button></a>
	</div>
</div>

<hr>

<table class="table table-hover font-weight-bold" id="inventory-logs-table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Change</th>
			<th>Description</th>
			<th></th>

		</tr>
	</thead>
	<tbody class="two-col-form">
		{% for item in inventory_logs %}
		<tr class="{% if item.change < 0 %}table-danger{% else %}table-success{%endif%}">
			<td>{{item.date}}</td>
			<td>{{item.get_change_type_display}} {% if item.associated_invoice %}<a href="{% url 'invoice_viewer' item.associated_invoice.id %}">[INVOICE]</a>{% endif %}</td>
			
			<td>{{item.change}}</td>
			<td>{{item.description}}</td>
			<td>
				{% if not item.associated_invoice %}
					<a href="{% url 'inventory_logs_del' item.id %}" style="color: red; text-decoration: none;">
						<span id="remove-entry-a" class="btn btn-danger btn-sm btn-curve">Delete</span>
					</a>
				{% endif %}
			</td>
		{% endfor %}
	</tbody>
</table>



{% endblock %}


{% block includejs %}
<script type="text/javascript">
$(document).ready( function () {
	$('#inventory-logs-table').DataTable({
		"order": [],
		"paging": true,
	});
});
checkInternetConnection();
</script>
{% endblock %}