{% extends "base.html" %}

{% load static %}



{% block content %}
<div class="row">
	<div class="col">
		<h2>Inventory</h2>
	</div>
</div>

<table class="table table-hover font-weight-bold" id="inventory-table">
	<thead class="thead-dark">
		<tr>
			<th>Model No</th>
			<th>Product Name</th>
			<th>Current Stock</th>
			<th>Last Transaction</th>
		</tr>
	</thead>
	<tbody class="two-col-form">
		{% for inventory in inventory_list %}
		<tr onclick="window.location='{% url 'inventory_logs' inventory.id %}';"
		{% if inventory.current_stock < 0  %} class="table-info"
		{% elif inventory.current_stock < inventory.alert_level %} class="table-warning" 
		{% endif %}>
			<td><a href="{% url 'inventory_logs' inventory.id %}">{{inventory.product.model_no}}</a></td>
			<td>{{inventory.product.product_name}}</a></td>
			<td>{% if inventory.current_stock > 0 %}{{inventory.current_stock}}{% else %}<span class="text-danger">{{inventory.current_stock}}</span>{% endif %}</td>
			<td>{{inventory.last_log}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}


{% block includejs %}
<script type="text/javascript">

$(document).ready( function () {
	$('#inventory-table').DataTable({
		"order": [],
		"columnDefs": [ {
			"targets": 3,
			"sortable": false,
			"searchable": false
		} ],
		"paging": true
	});
});

</script>
{% endblock %}